.card {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  border-top: 5px solid #1e90ff;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 18px rgba(0,0,0,0.2);
}

.rango {
  margin: 0;
  font-size: 1.3rem;
  color: #1e90ff;
}

.pais {
  margin: 10px 0 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.puntos {
  color: #333;
}
