body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* Banner */
.banner {
  width: 100%;
  padding: 30px;
  background: linear-gradient(90deg, #008f39, #ffffff, #d50000);
  color: black;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.descripcion {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Grid de tarjetas */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

/* Tarjeta */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin-bottom: 10px;
}
